.booking-intro {
    position: relative;
    color: var(--background-color);
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('../images/empty-concrete-texture.webp');
}

.booking-intro__content {
    height: 15rem;
    width: 100%;
    position: relative;
    z-index: 2;
    max-width: 50rem;
    margin: 0 auto;
    background: var(--text-transparent-color);
    padding: 2.5rem 0;
}

.booking-intro__title {
    color: var(--secondary-color);
    margin-bottom: 1.2rem;
}

.booking-intro__heading {
    color: var(--secondary-color);
    margin-top: 1rem;
}

.booking-intro__heading,
.booking-intro__subheading {
    text-align: left;
}

.booking-intro__image {
    width: 100%;
    height: auto;
}

/* FORM */

.booking-form {
    max-width: 50rem;
    margin: 6rem auto;
    padding: 3rem;
    background-color: var(--text-color-accent);
    box-shadow: var(--box-shadow-1);
}

.booking-form__fieldset {
    border: none;
    padding: 0;
    margin-bottom: 2rem;
    padding: var(--input-margin-bottom);
    border-radius: var(--border-radius-1);
    border: var(--border-1);
}

.booking-form__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.booking-form__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.booking-form__field {
    margin-bottom: 1.5rem;
}

.booking-form__label {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    display: block;
    color: var(--form-label-color);
}

.booking-form__input,
.booking-form__textarea,
.booking-form__select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    font-size: 1rem;
    transition: var(--transition-animation-easy);
}

.booking-form__input:focus,
.booking-form__textarea:focus,
.booking-form__select:focus {
    outline: none;
    border-color: var(--secondary-color);
    box-shadow: var(--focus-outline);
}

.booking-form__textarea {
    height: 8rem;
    resize: vertical;
}

.booking-form_radio-group {
    padding: 1rem;
    border: var(--border-2);
}

.radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.form-description {
    font-size: 0.9rem;
    color: var(--primary-color);
    margin-top: 0.5rem;
}

@media (max-width: 768px) {

.booking-intro__heading,
    .booking-intro__subheading {
        margin: 1rem;
        margin-bottom: 2rem
    }

    .booking-intro__heading {
        font-size: 3rem;
    }

    .booking-intro__subheading {
        font-size: 2rem;
    }

    .booking-intro__content {
        padding: 4rem 0;
        height: 18rem;
    }

    .booking__container {
        margin: 0;
    }

    .booking-form {
        max-width: 100%;
        padding: 1rem;
    }

    .booking-form__title {
        font-size: 1.2rem;
    }

    .booking-form__group {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .radio-group {
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    .booking-form__group {
        grid-template-columns: 1fr;
    }
}