:root {
    /* Color */
    --primary-color: #212121FF;
    --secondary-color: #FF5020FF;
    --background-color: #FFFFFFFF;
    --call-to-action-color: #f9c8c8;
    --text-color: #212121FF;
    --text-color-accent: #fafafa;
    --text-trandsparent-color: rgba(0, 0, 0, 0.5);
    --border-color: hsl(0, 0%, 78%);
    --table-header-color: #eee;

    /* Typography */
    --font-size: 1rem;
    --font-family: 'Roboto', sans-serif;

    /* Layout*/
    --container-width: 80%;
    --container-margin: auto;
    --header-height: 4rem;

    --z-index-header: 100;

    /* Animation*/
    --transition-animation-easy: all .4s ease 0s;
}